a {
     text-decoration: none;
     transition: ease-in-out 1s;
}

a:hover {
     opacity: 0.7;
}

.mainSidebar-main {
     display: flex;
     flex-direction: column;
     width: 260px;
     min-height: 100vh;
     background-color: var(--preto);
     border-right: 1px solid var(--cinza-escuro);
}

.mainSidebar-titulo {
     display: flex;
     width: 100%;
     height: 70px;
     padding: 0 2rem;
     justify-content: space-between;
     align-items: center;
}

.mainSidebar-links {
     display: flex;
     flex-direction: column;
     flex: 1;
     padding: 1.2rem 1.6rem;
     overflow-y: auto;
}