a {
     text-decoration: none;
     transition: ease-in-out 1s;
}

a:hover {
     opacity: 0.7;
}

.introducao {
     padding: 0 1.4rem;
     margin-bottom: 0.4rem;
}

.mainSidebar-main {
     display: flex;
     position: relative;
     flex-direction: column;
     width: 100%;
     height: auto;
     background-color: var(--preto);
}

.mainSidebar-links {
     display: flex;
     flex-direction: column;
     flex: 1;
     padding: 1.2rem 1.6rem;
     overflow-y: auto;
     overflow-x: visible;
}