.docLayout-content h2 {
     margin-top: 2rem;
}

.docLayout-main {
     display: flex;
     position: relative;
     flex: 1;
     padding: 0;
}

/* Content */
.docLayout-content {
     display: flex;
     flex-direction: column;
     width: 80%;
     padding: 0 10%;
     justify-content: start;
     align-items: start;
}

.docLayout-content p {
     margin: 0.5rem 0 0 0;
     opacity: 0.9;
}

.docLayout-date {
     display: flex;
     align-self: self-start;
     padding: 3px 8px;
     font-size: 10px;
     font-weight: 600;
     color: var(--preto);
     background-color: white;
     border-radius: 8px;
     margin-bottom: 8px;
}

/* Topics */
.docLayout-topics {
     display: flex;
     position: sticky;
     top: 0;
     flex-direction: column;
     width: 20%;
     justify-content: start;
     align-items: start;
     z-index: 1;
     height: fit-content;
}

.docLayout-topics h5 {
     font-size: 14px;
     margin-bottom: 8px;
     color: var(--cinza);
}

.docLayout-topics-item h4 {
     margin: 0.2rem 0;
     font-size: 16px;
}

.docLayout-topics-item.active h4 {
     color: var(--blue-500);
     font-weight: 700;
}

.docLayout-topics-item.active {
     border-left: 3px solid var(--blue-500);
     padding-left: 6px;
}