.docButton {
     display: flex;
     background-color: white;
     cursor: pointer;
     z-index: 1;
}

.docButton:hover {
     transform: scale(1.05);
     transition: ease-in-out 0.2s;
}

.docButtonOutline {
     display: flex;
     background-color: transparent;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     font-weight: 600;
     z-index: 10;
}

.docButtonOutline:hover {
     transform: translateY(-4px);
     transition: ease-in-out 0.3s;
}