a {
     color: white;
}

header {
     display: flex;
     width: 100%;
     height: 70px;
     padding: 1rem;
     background-color: var(--preto);
     justify-content: left;
     align-items: center;
     border-bottom: 1px solid var(--cinza-escuro);
}

.header-links {
     display: flex;
     width: fit-content;
     padding: 0 2rem;
     gap: 24px;
}

.header-links a {
     text-decoration: none;
}

.header-links a:hover {
     opacity: 0.7;
}