:root {
     font-family: 'Inter', system-ui, -apple-system, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);
     background-color: #242424;

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

     /* Cores */
     --fundo: #242424;
     --preto: #202020;
     --cinza-escuro: #404040;
     --cinza: #929292;
}

a {
     transition: ease-in-out 0.2s;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     margin: 0;
     min-width: 320px;
     min-height: 100vh;
}

#root {
     isolation: isolate;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Inter Tight', sans-serif;
     font-weight: 700;
     margin: 0;
}

h1 {
     font-size: 48px
}

h2 {
     font-size: 36px
}

h3 {
     font-size: 24px
}

h4 {
     font-size: 18px;
     font-weight: 500;
}

a,
Link {
     font-size: 14px
}

p {
     font-size: 12px;
}