:root {
     font-family: 'Inter', system-ui, -apple-system, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);
     background-color: #242424;

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     margin: 0;
     min-width: 320px;
     min-height: 100vh;
}

#root {
     isolation: isolate;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Inter Tight', sans-serif;
     font-weight: 700;
     margin: 0;
}